.popup-form__inputs {
  font-family: inherit;
  outline: none;
  max-width: 430px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 18px;
}