.popup__close-button {
  color: #FFFFFF;
  transform: rotate(-45deg);
  height: 40px;
  width: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 614px) {
  .popup__close-button {
    height: 26px;
    width: 26px;
    font-size: 26px;
    right: 0px;
  }
}