.element__like-button {
  width: 22px;
  height: 19px;
  /*vertical-align: middle;*/
  cursor: pointer;
  appearance: none;
  /*display: inline;*/
  outline: none;
  border: none;
  background-image: url(../../../images/Heart.svg);
  align-self: center;
  background-color: transparent;
}

.element__like-button:hover {
  opacity: 0.5;
  outline: none;
}

.element__like-button:active {
  background-image: url(../../../images/BlackHeart.svg);
  outline: none;
  opacity: 1;
}