.footer {
  max-width: 880px;
  margin: 0px auto;
  /*margin-left: calc((100% - 880px)/2);*/
  padding: 0px 0px 60px 0px;
  box-sizing: border-box;
}

@media screen and (max-width: 899px) {
  .footer {
    max-width: 581px;
  }
}

@media screen and (max-width: 614px) {
  .footer {
    padding-bottom: 36px;
    max-width: 282px;
  }